@import "tailwindcss";

@source '../views';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	/* --font-sans-condensed: "IBM Plex Sans Condensed", "Roboto Condensed",
		ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji"; */
	--font-brand: cofo-peshka-variable, "IBM Plex Sans Condensed", "Roboto Condensed",
		ui-sans-serif, system-ui, sans-serif;
	--font-brand--font-variation-settings: "slnt" 0, "wdth" 62.5, "wght" 700;
	--aspect-poster: 27 / 40;
	--aspect-p-tall: 5 / 4;
	--aspect-p-short: 5 / 3;
	--aspect-l-tall: 4 / 2;
	--aspect-l-short: 5 / 1;
}

@layer theme {

}

@layer base {

}

@layer components {
	.splash-title {
		@apply block font-brand uppercase tracking-wide leading-[0.75] antialiased;
	}
	.splash-title.mega {
		font-size: clamp(4rem, 25vw, 11.25rem);
	}
	.splash-title.simple {
		font-size: clamp(2.25rem, 8vw, 3.5rem);
	}
	.splash-subtitle {
		@apply block font-brand uppercase tracking-wide leading-none antialiased;
		font-size: clamp(2rem, 8vw, 3.25rem);
	}
	.splash-subtitle.mega {
		@apply leading-[0.85];
		font-size: clamp(4rem, 15vw, 7rem);
		font-variation-settings: "slnt" 0, "wdth" 62.5, "wght" 600;
	}
	.splash-subtitle.simple {
		font-size: clamp(2rem, 8vw, 3.25rem);
	}

	.site-menu {
		transition: top .5s ease-in-out;
	}
}

.md-wrapper :is(p, ul, ol, h1, h2, h3, h4, h5, blockquote, figure, image, table) {
	@apply text-pretty;
	margin-block-end: 1.5em;
}
